
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Inner page</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/sign_up.css" />
</head>
<body>
	<div id="main_block">
		<div id="innerblock">


			<!--Top Panel starts here -->

			<div id="top_panel">


				<div class = "title">
					<a href="/" class="logo"><img src="images/logo.jpg" width="36" height="36" alt="" /></a>
					<h1> 임대희 김강연의 비디오 쉐어링 </h1>
				</div>

				<div class="tp_navbg">
					<a href="/">홈</a> <a href="#">업로드</a> <a
						href="#">비디오</a>
				</div>

				<div class="tp_smlgrnbg">
					<span class="tp_sign">
						<a href="#" class="tp_txt">회원가입</a>
					</span>
				</div>

				<div class="tp_barbg">
				</div>

			</div>

			<!--Top Panel ends here -->


			<!--content Panel starts here -->

			<div id="contentpanel">

				<div class='container'>

					<form role="form" action="sign_up.php">
						<div class='form'>
							<input type="text" class="form-control" id="name" placeholder="이름">
							<input type="text" class="form-control" id="nickname" placeholder="별명">
							<input type="password" class="form-control" id="password" placeholder="비밀번호">
							<input type="password" class="form-control" id="confirm_password" placeholder="비밀번호확인">
				            <button type="button" class="submit-btn">완료</button>
						</div>
					</form>

				</div>


				</div>



				</div>

			</div>

			<!--content Panel ends here -->

			<!--footer panel starts here -->



			<br />

			<!--footer panel ends here -->
		</div>

		<!--innerblock ends here -->

	</div>

	<!--mainblock ends here -->

</body>
</html>
